@import url('https://fonts.googleapis.com/css2?family=M+PLUS+2:wght@100;200;300;400;500;600;754;900&display=swap');
body {
  margin: 0;

  /* background-color: #075066; */
  font-family: 'M PLUS 2', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  scroll-behavior: smooth;
  height: 100%;
  max-width: 100%;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}
:root {
  --blue-background: #c2e9f6;
  --blue-border: #72cce3;
  --blue-color: #96dcee;
  --yellow-background: #fffaa8;
  --yellow-border: #f5eb71;
  /** dark side **/
  --indigo-border: #5d6baa;
  --indigo-color: #6b7abb;
  --indigo-border: #5d6baa;
  --indigo-color: #6b7abb;
  --gray-border: #e8e8ea;
  --gray-dots: #e8e8ea;
  /** general **/
  --white: #fff;
  --font-color: rgb(33, 33, 33);
  --font-color-light: rgb(155, 155, 155);
  --background: rgb(255, 255, 255);
  --background-light: rgb(230, 230, 230);
}
.switchMode.dark {
  box-shadow: inset 0px 2px 10px 1px #26202e;
  border: thin;
  border: #a1b0bd1c;
  border-radius: 69px;
  --blue-background: #0c1d23;
  --indigo-border: #5d6baa;
  --indigo-color: #6b7abb;
  --indigo-border: #5d6baa;
  --indigo-color: #6b7abb;
  color: white;
  border-style: solid;
}
.switchMode {
  height: 20px;
  order: var(--white);
  background: var(--gray-dots);
  color: var(--font-color-light);
  border-radius: 20px;
  /* box-shadow: 1px 4px 1px -3px #0000ff94; */
  border: var(--white);
  background: var(--gray-dots);
  color: var(--font-color-light);
}

.toggle_update {
  color: #a1afd6;
  margin-right: 75px;
}

.overEp {
  display: flex;
  /* margin: 30px; */
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
}
.overEp h1 {
  font-size: larger;
  font-weight: 500;
}

.errorPage svg {
  margin: 20px auto;
  margin-left: -25px;
}
.errorPage {
  display: flex;
  background: darkturquoise;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  align-content: space-between;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}
.errorPage h1 {
  color: blanchedalmond;
  font-family: Arial, Helvetica, sans-serif;
  margin: 75px auto;
}
.toggle_update:hover {
  transition: 0.5s;
  color: #dee0e4;
  margin-right: 75px;
  cursor: pointer;
  font-weight: 100;
}
.App {
  --font-color: rgb(255, 244, 244);
  background-color: #282c34;
  --background-light: rgb(38, 33, 46);
  transition: all 0.3s;
}
.subButton.green {
  color: green;
}
.subButton {
  color: gray;
}
.App.dark {
  --font-color: rgb(255, 244, 244);
  --background: rgb(50, 50, 50);
  --background-light: rgb(38, 33, 46);
  transition: all 0.3s;
}

.App#top {
  color: var(--font-color-light);
  transition: all 0.3s;
}
.hambuger {
  display: none;
  background-color: transparent;
  border: 0;
  color: floralwhite;
  cursor: pointer;
  font-size: 20px;
}
.fourOfour {
  margin-left: 426px;
  margin-top: 42px;
}
rect {
  /* height: 50%;
  width: 49%; */
  color: white;
  margin-left: 61px;
}

.ErrorPage {
  margin: -4px auto;
  display: flex;
  padding: 17px;
}

header {
  box-shadow: 6px 2px 22px 5px rgb(66 80 94 / 19%);
  width: -webkit-fill-available;
  box-sizing: border-box;
  position: absolute;
  background: #282c34;
  display: flex;
  position: fixed;
  height: 90px auto;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 1%;
  z-index: 100;
}

.page_lay {
  margin-top: 55px;
  display: flex;
  word-break: unset;
  padding: 7px;
  /* justify-items: stretch; */
  align-items: center;
  /* width: 96%; */
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
}

.rP {
  height: 20pc;
}
.dropgo {
  font-size: smaller;
  font-weight: bold;
  /* color: rgb(16, 16, 17); */
  background-position-x: inherit;
  margin: 19px 4px auto;
  position: unset;
  background: #0aa2e2;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 10px;
  height: 32px;
  width: 68px;
  margin: 3px 10px auto;
}
.dropgo-select {
  border: none;
  background: none;
  font-size: small;
  font-weight: bold;
  /* color: rgb(16, 16, 17); */
  background-position-x: inherit;
  background: none;
  box-sizing: border-box;
  margin: 1%;
  border-radius: 10px;
}
.dropgo-NAV {
  border: none;
  background: none;
  font-size: small;
  font-weight: bold;
  margin: 2%;

  /* color: rgb(16, 16, 17); */
  background-position-x: inherit;
  background: none;
  box-sizing: border-box;
}
.profileInfo h3 {
  font-size: 16px;
  color: currentColor;
  margin: 2px;
  -webkit-font-smoothing: antialiased;
  font-weight: 500;
}
.booksUser {
  font-weight: 600;
  font-size: medium;
  line-height: 3px;
}
.profileInfo label,
span {
  font-size: 11px;
  line-height: 20px;
  /* color: rgb(183, 187, 207); */
  margin: 0px;
  -webkit-font-smoothing: antialiased;
  font-weight: 500;
}

.profileUpdate:hover {
  background-color: rgb(221, 220, 220);
  color: white;
  transition: all 0.3s;
}
.toggle-prp {
  position: static;
  margin: 0px auto;
  transition: 0.5s;
  display: flex;
  border: none;
  border: none;
  background: none;
  color: gray;
  justify-content: flex-end;
}
.profileUpdate {
  z-index: 0;
  margin: 9px 14px;
  background-color: rgb(228, 236, 252);
  border: none;
  padding: 10px;
  border-radius: 5px;
}

.book-postioned {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.toosed-bckg {
  color: whitesmoke;
  background: rgb(37, 4, 154);
  height: 100vh;

  padding: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.toosed-bckg a {
  color: rgb(201, 183, 183);
  cursor: pointer;
}
.dchart {
  margin-top: -139px;
}
.View {
  margin: 81px;
}

.trash svg {
  height: 8pc;
}

.trash {
  height: 5pc;
}
.svgShaping {
  display: contents;
}

.trash h1 {
  margin: 30px;
}

.close {
  height: 2px;
  /* color: whitesmoke; */
  border: none;
  background: none;
  transform: 0.3s;
  opacity: 0.35;
}
.profileInfo {
  z-index: 0;
  margin-top: 32px;
  backdrop-filter: drop-shadow(2px 4px 5px black);
  border-end-start-radius: 7px;
  line-height: 29px;
  margin-left: -237px;
  font-size: 12px;
  position: absolute;
  border-block-end: 20px;
  padding: 30px;
  display: flex;
  color: black;
  flex-direction: column;
  align-items: baseline;
  background: rgb(248 255 252);
  height: 221px;
  width: 137px;
  border-end-end-radius: 7px;
  font-family: inherit;
  font-weight: 400;
}
.profileInfo input {
  padding: 3px;
  border: none;
  left: 62.42%;
  margin: 6px;
  right: 8.02%;
  /* top: 41.13%; */
  bottom: 54.57%;
  background: #f2fdff;
  box-shadow: inset 1px 1px 3px rgb(0 0 0 / 13%);
  border-radius: 10px;
  height: 22px;
  width: 104px;
  left: 623px;
  /* top: 306px; */
  border-radius: 7px;
}
.profileInfo form {
  display: contents;
}
.updateME {
  color: black;
  height: 31px;
  background-color: red;
  z-index: 0;
  margin: 9px 14px;
  background-color: rgb(228, 236, 252);
  border: none;
  padding: 10px;
  border-radius: 5px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  border: none;
  outline: none;
}
.dropgo-LOGOUT {
  font-weight: 400;
  font-size: 12px;
  color: rgb(199, 199, 199);
  border: none;
  background: none;
}
.dropgo-LOGOUT:hover {
  transition: all 0.2s;
  color: rgb(171, 176, 179);
}

.logo {
  text-decoration: none;
  margin-bottom: 8px;
  width: -moz-fit-content;
  color: white;
  list-style: none;
  font-size: large;
  font-weight: bold;
}
.toss {
  color: antiquewhite;
  background: coral;
  transition: 0.3s;
  border: none;
  border-radius: 5px;
  padding: 5px;
  width: 60px;
}
.toss:focus {
  display: contents;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
.toss:hover {
  background-color: rgb(92, 1, 1);
}
a {
  text-decoration: none;
  margin-bottom: 8px;
  width: -moz-fit-content;
  color: white;
  list-style: none;
  font-size: large;
  font-weight: bold;
}
.conatier_size {
  text-align: justify;
  box-sizing: content-box;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: stretch;
  justify-content: flex-start;
}
.Home {
  align-items: center;
  flex-direction: column;
}
#menu_icon {
  align-items: center;
  height: 20px;
}
.sBar {
  margin-right: 32px;
}
.cat_t {
  padding: 15px;
  position: static;
  background: #97a8b6;
  width: 251px;
  height: 29px;
}
.cateTitle {
  color: whitesmoke;
  font-size: 8px;
  padding: 7px;
  position: static;
  background: #1f2939;
}

.SearchBar {
  width: 100%;
  background: transparent;
  border-radius: 4px;
  border: none;
  box-sizing: content-box;
  font-size: large;
  margin-left: 20px;
  transition: background-color 0.125s, box-shadow 0.125s;
  box-shadow: inset 0px 0px 4px -1px #808080a6;
  padding: 6px 9px;
  border-radius: 4px;
  height: 15px !important;
  margin-right: 65px;
}
.catslot {
  padding: 18px;
  background: white;
  color: black;
  width: 17%;
  margin: 20px auto;
  border: antiquewhite;
  border-radius: 10px;
}
.catNames {
  font-size: 7px;
  line-height: 7px;
  overflow: scroll;
  font-weight: 500;
  font-family: inherit;
  font-family: inherit;
  height: 36vh;
}
.catNames::-webkit-scrollbar {
  display: none;
}
.catNames {
  height: 112.1ch;
  background: cadetblue;
  text-decoration: none;
  color: rgb(255 255 255 / 77%);
  transition: color 0.2s ease-out;
  height: 80.1ch;
  font-weight: 600;
}

.abstract {
  border: none;
  border-end-end-radius: 230%;
  height: 101vh;
  width: 86%;
  left: 2px;
  top: 4px;
  position: static;
  left: 21.19%;
  right: 57.75%;
  top: 35.55%;
  bottom: 42.59%;
  background: #52bdc4;
  padding: 10px;
}

img {
  position: absolute;
  margin-top: -98%;
  height: 93vh;
  left: 123%;
  /* margin-top: -62%; */
}
.mainForm {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  transition: 5.5s;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  select,
  textarea,
  input {
    font-size: 16px;
  }
  .SearchBar {
    display: none !important;
  }
  .navBar .userName {
    padding: none;
    display: flex;
    flex-direction: column;
  }
  ul.navUl {
    background: #101218;
    /* margin-left: -28px; */
    display: flex;
    margin-block-start: auto;
    justify-content: space-evenly;
    font-size: small;
    grid-column-gap: 41px;
    align-items: baseline;
    align-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .Home {
    background-color: #0aabde;
    height: 125vh;
  }
  .art-wall {
    background: #0aabde;
    height: 88vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .dropgo-NAV {
    cursor: pointer;
    display: none;
  }
  .dropgo-select {
    cursor: pointer;
  }
  .to-form {
    row-gap: 9px;
    margin-top: -5%;
    display: flex;
    font-size: larger;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: space-evenly;
  }
  br {
    display: none;
  }
  .signUplink button {
    background: none;
    border: none;
    font-size: medium;
    color: #ffffff;
    font-weight: 500;
  }
  form .ph,
  form h3 {
    color: whitesmoke;
    font-size: 18px;
    font-style: normal;
    line-height: 20px;
    letter-spacing: 0;
    text-align: left;
  }
  .signin-title {
    font-size: xx-large;
    font-weight: 600;
    font-family: system-ui;
    color: antiquewhite;
  }
  .create-Box {
    width: 100%;
    display: inline-flex;
    justify-items: end;
    align-items: center;
    align-content: center;
    padding: 15px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
  }
  .toss {
    color: antiquewhite;
    background: coral;
    transition: 0.3s;
    border: none;
    border-radius: 5px;
    padding: 5px;
    width: 60px;
  }
  .toss:focus {
    display: contents;
  }

  .toss:hover {
    background-color: rgb(92, 1, 1);
  }
  .wall {
    background: #0baade;
    margin: -17px;
    position: fixed;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: -webkit-fill-available;
  }
  .to-form {
    /* line-height: 28px; */
    position: absolute;
    display: flex;
    font-size: larger;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: space-evenly;
  }
  form h3 {
    font-size: 18px;

    /* font-weight: 600; */
    margin: 3px;
  }
  .art-wall svg {
    height: 53%;
    /* position: absolute; */
    margin: 5px auto -50px 131px;
    display: none;
  }
  .SearchBar {
    display: none;
  }

  .navUl {
    display: block;
    width: 100%;
    margin-left: -28px;
    display: flex;
    flex-wrap: wrap;
    grid-column-gap: 912px;
    grid-column-gap: 912px;
    grid-column-gap: 912px;
    column-gap: 912px;
    flex-wrap: nowrap;
    margin-block-start: auto;
    font-weight: bold;
    color: aliceblue;
    font-size: large;
    align-items: none;
    grid-column-gap: 45px;
    column-gap: 45px;
  }
  .noos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
  }
  .formEntry {
    transition: 0.3s;
    /* margin: 30px 4px 12px -13px; */
    align-items: center;
  }

  .formEntry input {
    transition: 0.3s;
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 9px;
  }
  .formEntry select {
    margin: 20px;
  }

  .perTitle h6 {
    color: #756e6e;
    margin: 7px auto;
    font-size: large;
    font-weight: 400;
  }

  #top {
    padding: 8px;
    color: #899199;
    height: 31px;
    align-items: center;
    display: inline-flex;
    justify-content: space-between;
    flex-direction: row;
    grid-column-gap: 500px;
    grid-column-gap: 500px;
    grid-column-gap: 500px;
    grid-column-gap: 500px;
    grid-column-gap: 500px;
    column-gap: 500px;
    font-family: system-ui;
    width: -webkit-fill-available;
    transition: 0.3s;
  }
  .perTitle {
    margin-left: -1px;
    border-color: rgba(245, 245, 245, 0.439);
    border-width: thin;
    border-style: solid;
    font-size: 10;
    padding: 5px;
    width: 100%;
  }
  h6 {
    padding: 10px;
    margin: 10px;
  }

  form input {
    border: none;
    left: 62.42%;
    right: 8.02%;
    top: 41.13%;
    bottom: 54.57%;
    background: #f4f8fa;
    /* box-shadow: inset 0px 1px 0px rgb(0 0 0 / 25%); */
    border-radius: 10px;
    height: 32px;
    width: 295px;
    left: 623px;
    top: 306px;
    border-radius: 8px;
  }
  .ahd {
    transition: 0.3s;
    font-style: normal;
    font-weight: 300;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
    color: aliceblue;
    background: #0aa2e2;
    border-radius: 10px;
    border: none;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    margin-left: 11px;
    margin-top: 20px;
    border: none;
    height: 33px;
    bottom: 42.34%;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    width: 17%;
    text-align: center;
  }
  .ahd button {
    transition: 0.4s;
    color: aliceblue;
    background: #0aa2e2;
    border-radius: 10px;
    border: none;
    font-weight: 600;
    font-size: 12px;
    border: none;
    height: 28px;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
  }
  .ahd button {
    background: rgb(6, 134, 81);
  }

  .cats {
    display: inline-flex;
    align-items: flex-end;
    flex-direction: column;
  }
  #top h5 {
    margin: -1px 8px -12px;
    height: 20px;
    display: inline-flex;
    flex-direction: row;
    font-size: large;
    justify-content: flex-end;
    align-items: stretch;
    font-weight: 600;
    padding: -5px;
  }
  #top h1 {
    color: black;
    margin: 0px;
    padding: 5px;
    display: inline-flex;
    flex-direction: row;
    font-size: xx-large;
    justify-content: flex-end;
    align-items: stretch;
    font-weight: 550;
  }
  .bookslot {
    width: 62%;
    display: flex;
    flex-direction: row;
    margin-left: 22px;
    position: static;
    flex-wrap: wrap;
  }

  .m {
    overflow: scroll;
    width: 1210px;
    height: 30%;
    margin: 60px auto;
  }

  .card {
    display: grid;
  }
  .card:hover {
    display: grid;
  }
  fieldset {
    transition: 0.5s;
    --webkit-backdrop-filter: blur(1px);
    align-items: stretch;
    background: #282c340a;
    border: none;
    border-radius: 5px;
    padding: 17px;
  }

  .page_lay {
    /* height: 29px; */
    display: flex;
    word-break: unset;
    padding: 7px;
    /* justify-items: stretch; */
    align-items: center;
    width: 88%;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .drpfrm-close {
    margin-right: -41px;
    margin-left: -16px;
    transition: 0.3s;
  }
  .drpfrm-close:toggle {
    transition: 0.3s;
    margin-top: 20px;
    background: none;
    border: none;
    color: gray;
    font-weight: bold;
    cursor: pointer;
  }
  .vhm {
    width: -webkit-fill-available;
    display: flex;
    height: -webkit-fill-available;
    flex-direction: column;
  }
  .stack {
    display: flex;
  }
  .category-dropdown {
    background-color: #1f2939;
    padding: 1%;
    width: 100%;
  }
}

.stack {
  display: none;
}
.OverView {
  color: #000;
  height: 95vh;
  margin-top: 60px;
}

.box-text {
  box-shadow: inset 0px 10px 40px 40px #5dcfff30;
  z-index: 2;
  margin: 12px 60px auto;
  background: rgb(209 205 205 / 35%);
  border-radius: 20px;
  left: 10%;
  height: 515px;
  top: 135px;
  border-radius: 20px;
  filter: drop-shadow(2px 26px 78px gray);
}
.dropgo-NAV {
  cursor: pointer;
}
.dropgo-NAV:hover {
  transition: all 0.2s;
  color: rgb(147, 204, 241);
}
.dropgo-select {
  cursor: pointer;
}
.dropgo-select:hover {
  transition: all 0.2s;
  color: rgb(147, 204, 241);
}
.box-text span {
  z-index: 2;
}
.box-text-content {
  margin: 60px auto;
  left: 2.28%;
  right: 50.48%;
  top: 18.42%;
  bottom: 21.42%;
  background: rgba(196, 196, 196, 0.35);
  border-radius: 20px;
  width: inherit;
  left: 10%;
  top: 135px;
  border-radius: 20px;
}
.master-class {
  display: flex;
  width: -webkit-fill-available;
  flex-direction: column;
  margin: 60px 61px auto;
}

#phrase {
  font-family: unset;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 70px;
  letter-spacing: 0em;
  text-align: left;
  top: 20%;
  margin: 20px auto;
  left: 12%;
  color: #f3fcff;
}

.new-catch {
  background-position-x: inherit;
  margin: 19px 4px auto;
  position: unset;
  background: #0aa2e2;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 10px;
  height: -moz-fit-content;
  width: fit-content;
}

.lable {
  font-size: 14px;
  font-weight: 650;
}
.mini-box-left {
  width: 37%;
  font-style: normal;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  text-align: initial;
  line-height: 17px;
}
.mini-box-center {
  width: 37%;
  font-style: normal;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  text-align: initial;
  line-height: 17px;
}
.mini-box-right {
  width: 37%;
  font-style: normal;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  text-align: initial;
  line-height: 17px;
}
.new-catch h5 {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  color: #ffeeee;
  margin-top: 9%;
}
.box-holder {
  width: 496px;
  display: flex;
  height: 12px;
  column-gap: 89px;
}
.box-holder-prime {
  display: flex;
  column-gap: 20px;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: flex-start;
}
.ahd button {
  transition: 0.4s;
  color: aliceblue;
  background: #0aa2e2;
  border-radius: 10px;
  border: none;
  font-weight: 600;
  font-size: 12px;
  border: none;
  height: 28px;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
}
.ahd button {
  background: rgb(6, 134, 81);
}
.signUplink h5 {
  color: aliceblue;
  font-size: medium;
  font-weight: 300;
}
.signUplink a {
  color: whitesmoke;
}
.Contanier_BO {
  /* color: black; */
  z-index: 12;
  /* position: fixed; */
  /* float: left; */
  /* height: 27px; */
  width: 100%;
  -webkit-font-smoothing: antialiased;
  width: -webkit-fill-available;
  padding: 9px;
  box-sizing: content-box;
  /* background: rgb(253 95 2); */
  /* background: #1f2939; */
  /* font-weight: bolder; */
  /* flex-shrink: inherit; */
  /* box-shadow: 0px 1px 9px 0px #0000003b; */
  align-items: center;
}

.logo {
  text-decoration: none;
  display: inline-flex;
  margin-bottom: 8px;
  width: -moz-fit-content;
  list-style: none;
  font-size: large;
  font-weight: bold;
}
.nvC {
  border-width: thin;
  border-color: rgba(245, 245, 245, 0.439);
  width: 30%;
  border-style: solid;
  overflow: scroll;
}
.jar {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.perTitle h6 {
  color: #756e6e;
  margin: 7px auto;
  font-size: large;
  font-weight: 400;
}
.perTitle {
  margin-left: -1px;
  border-color: rgba(245, 245, 245, 0.439);
  border-width: thin;
  border-style: solid;
  font-size: 10;
  padding: 5px;
  width: 100%;
}
.list {
  font: -webkit-mini-control;
  width: 100%;
  border-style: solid;
  border-width: thin;
  border-color: rgba(245, 245, 245, 0.439);
  font-size: 6px;
}
.list h1 {
  padding: 10px;
  font-weight: 400;
}
.cats {
  display: inline-flex;
  margin-right: 11%;
  align-items: baseline;
}

.ahd {
  font-style: normal;
  font-weight: 300;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;
  color: aliceblue;
  background: #0aa2e2;
  border-radius: 10px;
  border: none;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  margin-left: 43px;
  margin-top: 20px;
  border: none;
  height: 28px;
  bottom: 42.34%;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  width: 17%;
  text-align: center;
}
.lenght {
  display: flex;
  margin-bottom: 3px;
  width: 85%;
  opacity: 26%;
  font-weight: bold;
}
.vhm {
  width: -webkit-fill-available;
  display: flex;
  height: -webkit-fill-available;
}

.base {
  display: block;
  width: inherit;
  overflow: scroll;
}
.Container_PL {
  box-shadow: inset 0px 0px 0px 1px #21595b;
  z-index: 1;
  height: 34%;
  width: 50%;
  background: rgba(247, 248, 243);
  box-shadow: 0px 0px 2px 1px #80808059;
  border-width: thick;
  box-sizing: content-box;
}

.Personal_Nav {
  cursor: pointer;
  font-family: unset;
  font-weight: bold;
  display: flex;
  justify-content: space-evenly;
}
.contain_list {
  width: 100%;
  display: -webkit-box;
  margin: 9px;
}

.TotalExp {
  padding: 1%;
}
.catList {
  padding: 1%;
  font-size: large;
  background: rgba(247, 248, 243);
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  border-radius: 8px;
  border: rgb(185, 120, 23);
  height: 110%;
  display: grid;
  width: 100%;
}
.catList button {
  display: flex;
  padding: 1%;
  margin: 9px;
  font-size: large;
  border-color: rgb(75, 69, 69);
  background: rgb(178, 190, 197);
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  border-radius: 3px;
  border: rgb(34, 23, 7);
  height: 110%;
  color: aliceblue;
  display: grid;
  width: 100%;
  gap: 90%;
  grid-area: 90px;
}

.drpfrm {
  transition: 0.3s;
  margin-top: 20px;
  background: none;
  border: none;
  /* color: rgb(243, 242, 245); */
  font-weight: bold;
  cursor: pointer;
}
.drpfrm-close {
  margin-right: -41px;
  margin-left: 50px;
  margin-top: 20px;
  width: 20px;
  background: none;
  border: none;
  color: gray;
  font-weight: bold;
  cursor: pointer;
}
#addNEW {
  display: flex;
  padding: 1%;
  margin: 9px;
  font-size: large;
  /* border-color:rgb(75, 69, 69) ; */
  background: rgb(222, 239, 248);
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  border-radius: 3px;
  border: rgb(34, 23, 7);
  height: 110%;
  color: rgb(183, 207, 228);
  display: grid;
  width: 100%;
  gap: 90%;
  grid-area: 90px;
}

.mark::marker {
  background-color: #5353ce;
  /* border-start-end-radius: 20px;
  border-start-start-radius: 20px;
  border-end-end-radius: 20px; */
  width: 30%;
  height: 30%;
}
.catList ul {
  padding-inline-start: unset;
  display: flex;
  height: 66%;
  width: 34%;
  margin-block-start: unset;
  margin-block-end: initial;
}

.chart {
  width: 92%;
  display: inline-flex;
  /* padding: 20%; */
  /* padding-top: 0%; */
  /* padding-left: 5%; */
  /* padding-bottom: 10%; */
  /* align-items: center; */
  /* flex-direction: row; */
  /* align-content: center; */
  height: 300px;
}
.cardInfo {
  padding: 11px;
  flex-direction: column;
  align-items: flex-start;
}
.ExpCard {
  padding: 1%;
  margin: 15px 17px;
  height: 85%;
  width: 93%;
  background: rgba(247, 248, 243);
  box-shadow: 0px 0px 2px 1px #80808059;
}
.category-dropdown {
  background-color: #1f2939;
  padding: 1.5%;
  width: 20%;
  border-start-end-radius: 10px;
  border: none;
  /* border-end-end-radius: 30px; */
  /* color: gray;
  /* margin: 0px 10px 0px; */
  font-weight: 600;
}

.Person {
  width: 50px;
  height: 100px;
  display: flex;
  justify-content: center;
  border: #0063cc;
}
.personalPage {
  display: contents;
}
.Clothing {
  display: -webkit-inline-box;
  color: #2f4771;
  font-family: 'M PLUS 2';
  font-weight: 600;
}
.FOOD {
  display: -webkit-inline-box;
  color: #2f4771;
  font-family: 'M PLUS 2';
  font-weight: 600;
}
.Outting {
  display: -webkit-inline-box;
  color: #2f4771;
  font-family: 'M PLUS 2';
  font-weight: 600;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #ffffff;
}
#maPGL.div {
  width: 40vw;
  width: 62vw;
  height: 60vh;
  cursor: grab;
  touch-action: none;
  user-select: none;
  -webkit-user-drag: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: none;
}
.info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.info:hover {
  transition: all 0.3s;
  background: #d9e0e7;
}
.info span {
  /* column-gap: 21px; */
  font-family: sans-serif;
  font-size: small;
  color: #282c34;
  margin: 15px;
  font-size: small;
}

.List {
  height: 591px;
  height: 591px;
  padding: 10px;
  box-sizing: content-box;
  background: rgb(247 247 247);
  /* box-shadow: 0px 0px 2px 1px #80808059; */
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
}
td {
  display: flex;
  font-size: small;
  padding: 3px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
  flex-direction: column;
  align-items: stretch;
}
.List_font {
  border-color: rgb(247 248 243);
  border-width: thin;
  height: 42px;
  border-style: solid;
  padding: 6px;
  box-sizing: content-box;
  background: rgb(255 255 255);
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
}
.List_font a {
  box-sizing: content-box;
  display: flex;
}
.wrap {
  display: flex;
  flex-wrap: nowrap;
}
.cardInfo h1 {
  display: grid;
  font-weight: 500;
  font-size: smaller;
  margin-top: 12px;
  color: gray;

  justify-items: start;
}
.cardInfo h2 {
  display: grid;
  font-weight: 500;
font-family: sans-serif;
  font-size: medium;
  margin-top: -6px;
  justify-items: start;
}
.cardChart h5 {
  margin: 10px;
  grid-column-gap: 7px;
  font-family: sans-serif;
  column-gap: 5px;
  font-weight: lighter;
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0px;
}
.cardChart h1 {
  font-size: inherit;
  font-weight: bolder;
}
.budgetNotif h5 {
  font-weight: 400;
  margin: 6px auto;
  display: inline-flex;
  align-items: center;
  grid-column-gap: 10px;
  grid-column-gap: 10px;
  column-gap: 10px;
  justify-content: flex-start;
  flex-wrap: wrap;
  font-size: 12px;
  width: 150px;
}
.card {
  display: grid;
}
.cardChart {
  line-height: 7px;
  border-width: 10px;
  border: #d9e0e7;
  margin: 46px;
  width: 512px;
  padding: 31px;
}
.grid-contanier {
  display: flex;
  justify-content: space-between;
  justify-items: start;
  align-content: space-between;
  align-items: flex-start;
}
.cardChart h3 {
  font-size: 1px;
  color: #0aa2e2;
  background: #0eeade;
  height: 10px;
  width: 10px;
  border-radius: 20px;
}
.cardInfo h3 {
  font-size: 1px;
  color: #0aa2e2;
  background: #054eee;
  height: 10px;
  width: 10px;
  border-radius: 20px;
}
.cardSide {
  display: flex;
  padding: 10px;
  justify-items: start;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.cardSide h4 {
  margin: 0px;
}

.cardMain {
  font-size: unset;
  color: aliceblue;
  display: grid;
  font-size: unset;
  color: aliceblue;
  background: #7ebdd2;
  border-width: 10px;
  border: #d9e0e7;
  padding: 18px;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 10px;
  font-weight: 700;
  align-items: center;
  justify-items: stretch;
  background: #7ebdd2;
  border-width: 10px;
  border: #d9e0e7;
  padding: 18px;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 10px;
  font-weight: 700;
}
.maincard {
  display: -webkit-inline-box;
  background: #ffffff;
}

.card:hover {
  display: grid;
}

.Form {
  background-color: var(--white);
  border-radius: 4px;
  border: none;
  box-sizing: border-box;
  border-radius: 4px;
  margin-left: 20px;
  border-radius: 4px;
  border: none;
  box-sizing: border-box;
  border-radius: 4px;
}
.Form input {
  background-color: whitesmoke;
}
.name {
  display: inline-flex;
  /* color: #4a4f5c; */
  font-size: 12px;
  font-family: revert;
  font-weight: 500;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-start;
}
legend {
  /* color: cadetblue; */
  font-weight: 600;
  transition: 0.3s;
  margin: 18px;
}
.label h6 strong {
  color: black;
  font-family: sans-serif;
  font-weight: 400;
  font-size: xx-large;
}
fieldset {
  transition: 0.5s;
  --webkit-backdrop-filter: blur(1px);
  align-items: stretch;
  background: #282c340a;
  border: none;
  border-radius: 5px;
  padding: 17px;
}

.formEntry {
  transition: 0.3s;
  align-items: center;
}

.addButton {
  transition: 0.3s;
  display: flex;
  align-items: center;
  align-content: stretch;
  justify-content: space-around;
  background-color: aliceblue;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  color: grey;
  font-size: x-large;
  box-shadow: inset 0px 0px 0px.3px;
  transition: background-color 0.125s, box-shadow 0.125s;
  width: 4%;
  margin: 21px;
  cursor: pointer;
}
.addButton button:hover {
  background: green;
}
.delete {
  border: 0px;
  color: rgba(190, 188, 188, 0.753);
  background-color: transparent;
  opacity: 50%;
  font-size: small;
}
.Countdown {
  content: normal;
  height: 159px;
  background: #f3faff;
  width: 40%;
}

.navUl {
  padding-top: 58px;
  grid-row-gap: 24px;
  row-gap: 14px;
  background: #101218;
  width: 357px;
  height: 1000px;
  display: flex;
  margin-block-start: auto;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
}

select.Form {
  color: #4b618a;
  height: 30px;
  padding: 2px;
}
#dropdown {
  margin: 10px;
  color: #000;
  background: none;
  border: none;
}
#dropdown option {
  color: antiquewhite;
  border: none;
}
.navBar {
  position: fixed;
  display: flex;
}

.p {
  margin-bottom: 43px;
  height: 45%;
  background: black;
  margin: 0px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 28px;
}

.p h5 {
  margin-bottom: 48px;
}

#maPGL {
  width: min-content;
  z-index: -1;
}
.ReactMap {
  display: inline-flex;
  position: absolute;
  width: 60%;
  height: 90%;
  overflow: hidden;
  margin: 10px 28px;
  visibility: inherit;
  border-radius: 9px;
}
#maPGL {
  border-radius: 9px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.cardGo {
  background: none;
  border: none;
}
.cardGo span {
  font-size: 11px;
  display: flex;
  line-height: 20px;
  color: rgb(183, 187, 207);
  margin: 0px;
  column-gap: 1pc;
  -webkit-font-smoothing: antialiased;
  font-weight: 500;
  align-items: center;
}
.wall {
  background: #0baade;
  position: fixed;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: -webkit-fill-available;
}
.tranv {
  transition: 0.4s;
}

#titlePATCH {
  border: none;
  color: white;
}

#titlePATCH input,
select,
textarea {
  color: white;
}
#titlePATCH input {
  box-shadow: none;
  border: none;
  color: white;
  font-size: large;
  background: none;
  /* padding: 13px; */
  width: 190px;
  margin: 20px auto;
}
.art-wall {
  width: 53%;
  background: #0aabde;
  margin-left: -150px;
  height: 123vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.art-wall svg {
  height: 40%;
  position: absolute;
  margin: 160px auto;
  /* margin-left: 143px; */
}
.to-form {
  margin-top: -30%;
  display: flex;
  font-size: larger;
  line-height: 20px;
  /* width: 175px; */
  flex-direction: column;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: space-evenly;
}

.to-form form {
  color: #f4f9fd;
  display: contents;
  position: static;
  text-align: justify;
}
.closeout {
  border: none;
  background: none;
  float: right;
  cursor: pointer;
}
form input {
  border: none;
  left: 62.42%;
  right: 8.02%;
  top: 41.13%;
  bottom: 54.57%;
  background: #f4f8fa;
  /* box-shadow: inset 0px 1px 0px rgb(0 0 0 / 25%); */
  border-radius: 10px;
  height: 32px;
  width: 295px;
  left: 623px;
  top: 306px;
  border-radius: 8px;
}

.setting {
  color: black;
}
.setting-container {
  position: relative;
  width: 140px;
  height: fit-content;

  margin: 16px auto;
  border-radius: 2px;
  padding: 20px;
  background: #e5e0dc;
  transition: all 0.4s;
}
.setting p {
  font-size: 9px;
}
form h3 {
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;
  margin: 0pc;
  margin-top: 12px;
}

form .ph {
  /* font-family: Roboto; */
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;
}

form button {
  transition: 0.3s;
  font-style: normal;
  font-weight: 300;
  line-height: 14px;
  width: 45px;
  letter-spacing: 0em;
  text-align: left;
  color: aliceblue;
  background: #0aa2e2;
  border-radius: 102px;
  border: none;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  border: none;
  height: 39px;
  bottom: 42.34%;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
}

form button:hover {
  transition: 0.3s;
  background-color: rgb(9, 104, 80);
}
.m {
  margin-top: -103px;
  width: 1210px;

}

.correction-m {
  padding: 11px;
  width: 128%;
  flex-direction: column;
}
.bookslot {
  display: flex;
  align-items: flex-start;
}
.book-tanker {
  border: solid;
  margin-left: 396px;
  margin-top: -6px;
  height: -moz-fit-content;
  height: 1000px;
  background: #fbfefe;
  width: 399px;
  text-align: justify;
  flex-direction: row;
  position: static;
  flex-wrap: wrap;
}
#expense{
  font-size: x-large;
  display: flex;
  font-size: x-large;
  justify-content: space-between;

}
.titleBookShelf {
  column-gap: 170px;
  margin: 10px;
  color: darkslategrey;
  font-family: sans-serif;
  display: inline-flex;
}
.buttonBook {
  background: none;
  border: none;
  font-size: large;
}
.bookbindSUB {
  height: 343px;
  width: 413px;
  padding: 14px;
  background: #f6b900;
  color: whitesmoke;
  grid-row-gap: 10px;
  flex-direction: column;
  border-end-start-radius: 10px;
  display: grid;
  justify-items: start;
}
.bookbind {
  display: flex;
  /* height: 456px; */
  width: 413px;
  padding: 14px;
  background: #6595ec;
  color: whitesmoke;
  grid-row-gap: 10px;
  flex-direction: column;
  /* border-end-start-radius: 10px; */
  border-start-start-radius: 10px;
}
.notify {
  background-color: red;
  height: 9px;
  color: white;
  border-radius: 20px;
  width: 9px;
}
.bookbind h5 {
  margin: 0px;
  font-size: 9px;
}
.bookbind .bvpharse {
  font-size: small;
  font-weight: 400;
  display: grid;
  justify-content: start;
}
.signin-title {
  font-size: xx-large;
  font-weight: 600;
}

.signUplink button {
  background: none;
  border: none;
  font-size: initial;
  color: #5353ce;
  font-weight: 500;
}
.signUplink h1 {
  font-size: small;
  font-weight: 200;
}

#top h5 {
  height: 20px;
  color: white;
  display: inline-flex;
  flex-direction: row;
  font-size: large;
  justify-content: flex-end;
  align-items: stretch;
  font-weight: 200;
}

#top h1 {
  padding: 12px;
  display: inline-flex;
  color: aliceblue;
  flex-direction: row;
  font-size: large;
  justify-content: flex-end;
  align-items: stretch;
  font-weight: 550;
}
#top {
  font-size: x-large;
  height: 33px;
  align-items: center;
  display: inline-flex;
  justify-content: space-between;
  flex-direction: row;
  grid-column-gap: 500px;
  grid-column-gap: 500px;
  grid-column-gap: 500px;
  grid-column-gap: 500px;
  column-gap: 500px;
  font-family: system-ui;
  width: -webkit-fill-available;
  transition: 0.3s;
}
.Home {
  background-color: aliceblue;
  height: 125vh;
}
.toggle {
  transition: 03ms;
}
.catNames hr {
  background-color: #899199;
  border: none;
  height: 2px;
}
.create-Box {
  width: 100%;
  /* display: inline-flex; */
  /* justify-items: end; */
  /* align-items: center; */
  /* align-content: center; */
  /* padding: 15px; */
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.store {
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-end;
}
.setting-tab {
  color: whitesmoke;
  cursor: pointer;
  background: none;
  border: none;
}
.setting-tab:hover {
  transition: all 0.3s;
  color: rgb(151, 146, 146);
  cursor: pointer;
}
.card {
  display: grid;
}
.grand-container {
  /* background: #367777; */
  /* margin: 62px auto; */
}
.bckg {
  background-color: #2d3244;
  color: antiquewhite;
  width: 619px;
}
.nivoChart {
  width: 100%;
  border-width: thin;
  border-style: solid;
  border-color: rgba(245, 245, 245, 0.439);
  margin-right: 45px;
}
.sub-line {
  transition: 03s;
  display: flex;
  grid-column-gap: 5px;
  column-gap: 5px;
  align-items: center;
  justify-content: space-evenly;
}
.sub-line button {
  background: #f6b904;
  border: none;
  height: 10px;
  border-radius: 20px;
}
.sub-table {
  display: inline-flex;
  grid-column-gap: 23px;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-size: small;
  font-family: sans-serif;
}
.sub-table th {
  font-weight: 100;
}
.sub-table table {
  margin: 2px auto;
  width: 96%;
}
.cardMain p {
  float: left;
  font-size: x-large;
  margin: 2px auto;
}
.dot {
  background-color: rgb(255, 209, 5);
  height: 8px;
  width: 8px;
  color: whitesmoke;
  border-radius: 30px;
}
.dop {
  background-color: rgb(141, 140, 135);
  height: 1px;
  width: 1px;
  color: whitesmoke;
  border-radius: 30px;
}
.sun {
  margin: 80px;
}
text {
  fill: whitesmoke;
}
.label label {
  height: 56px;
  display: inline-flex;
  padding: 10px;
  justify-content: space-between;
  flex-direction: row;
  align-items: baseline;
  width: 95%;
  font-size: large;
  color: aliceblue;
}
.nc {
  overflow: scroll;
  color: #1f2939;
  width: -webkit-fill-available;
  display: flex;
  flex-direction: column;
  margin: -2px auto;
  height: 55.400000000000006vh;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
}

.footer {
  font-weight: 600;
  padding: 25px;
  height: 65vh;
  margin: 47px 0px 0px;
  background-color: #1f2939;
  color: aliceblue;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
}
footer {
  font-weight: 600;
  padding: 25px;
  height: 2vh;
  margin: 47px 0px 0px;
  background-color: #1f2939;
  color: aliceblue;
}
